.header {
    min-height: 4rem;
    background-color: $primary-color;
    font-size: 1.1rem;

    &__nav-link {
        color: $gray-200;

        &:hover {
            color: $white;
        }
    }

    &__logo {
        height: 2rem;
        width: auto;
    }
}